<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'books/book', user: @user, book: @book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Users</h1>
      <table class="table table-striped">
        <% @users.each do |user| %>
          <div class="card mb-4 shadow-sm">
            <div class="card-body">
              <%= link_to user_path(user.id) do %>
                <%= image_tag user.get_profile_image(100,100), class:"mt-3 "; %>
              <% end %>
              <h5 class="card-title"><%= user.name %></h5>
              <p class="card-text"><%= link_to "Show", user_path(user.id) %></p>
              <div class="user">
              <p><%= link_to user.name, user_path(user) %></p>
              <%= render 'follow_button', user: user %>
            </div>
            </div>
          </div>
        <% end %>
      </table>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    if (!sessionStorage.getItem("reloaded_once")) {
      sessionStorage.setItem("reloaded_once", "true");
      setTimeout(function () {
        window.location.reload();
      }, 100); // 0.1秒後にリロード
    }
  });
</script>